<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {# Logo here #}
        <!-- content-->
        <div style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
            <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">Hello,</p>
            <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">
                We received a request to reset your password. Please click on
                the button below to change your password.
            </p>
            <a
            style="font-size:18px;background-color:#29516E;color:#ffffff;border:1px solid transparent;padding:0.75rem;border-radius:0.25rem;margin:10px 0 10px 0;text-decoration:none;"
            href="{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}">
            Reset Password
            </a>


            <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px">If you didn't request a password reset, you can ignore this email.</p>
        </div>
    </body>
</html>
