{# `static_modal` is for development  so there is no need to open the modal every time#}
<div class="modal" id="{{ modal_id }}" tabindex="-1" role="dialog"
 {% if static_modal %}style="display: block"
 {% else %}aria-labelledby="personalInfoModal" aria-hidden="true"{% endif %}>
    <div class="modal-dialog{% if size == 'large' %} modal-lg
    {% elif size == 'small' %} modal-sm
    {% endif %}"
    role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block title %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block body %}{% endblock %}
            </div>
            {% block no_footer %}
            <div class="modal-footer">
                {% block footer %}{% endblock %}
            </div>
            {% endblock no_footer %}
        </div>
    </div>
</div>
