$border_gray: #ced4da !default;

.main-header {
    border-bottom: 1px solid $border_gray;
    z-index: 9;
    top: 0;
    position: sticky;

    &.navbar {
        padding: 0.5rem 0.5rem;
    }

    &.navbar-expand .navbar-nav .nav-link {

        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.dropdown-menu .dropdown-item {
    &:active {
        background-color: gray;
    }
}
