{% if results %}
<div class="row">
    <div class="col">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Malconsumed Nutrients</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for obj in results %}
                    <div class="col-md-6 mt-2">
                        {% include "core/intake_chart.html" with id=obj.id name=obj.name id_suf="malconsumed" %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
