{% extends "main/single_card_base.html" %}
{% block title %}Change Password{% endblock title %}
{% block content-header %}
<div class="container-fluid">
    <nav class="nav-breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url "settings" %}">Settings</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "account-settings" %}">Account Settings</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Change Password
            </li>
        </ol>
    </nav>
</div>
{% endblock content-header %}
{% block card-title %}Change Password{% endblock card-title %}
{% block card-content %}
<form action="{% url 'password-change' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" id="username-field" autocomplete="username" value="{{ user.username }}" hidden>
    <div class="mb-3">
        <label for="{{ form.old_password.id_for_label }}" class="form-label">Current password</label>
        <input id="{{ form.old_password.id_for_label }}"
            class="form-control{% if form.old_password.errors %} is-invalid{% endif %}"
            type="password"
            name="{{ form.old_password.name }}"
            autocomplete="new-password"
            value="{{ form.old_password.value|default_if_none:'' }}"
            required
            data-toggle="tooltip"
            title="{{form.old_password.help_text}}">
        <div class="invalid-feedback">
            {{ form.old_password.errors }}
        </div>
    </div>
    <div class="mb-3">
        <label for="{{ form.new_password1.id_for_label }}" class="form-label">New password</label>
        <input id="{{ form.new_password1.id_for_label }}"
            class="form-control{% if form.new_password1.errors or form.new_password2.errors %} is-invalid{% endif %}"
            type="password"
            name="{{ form.new_password1.name }}"
            autocomplete="new-password"
            value="{{ form.new_password1.value|default_if_none:'' }}"
            required
            data-toggle="tooltip"
            title="{{form.new_password1.help_text}}">
        <div class="invalid-feedback">
            {{ form.new_password1.errors }}
        </div>
    </div>
    <div class="mb-3">
        <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm new password</label>
        <input id="{{ form.new_password2.id_for_label }}"
            class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}"
            type="password"
            name="{{ form.new_password2.name }}"
            value="{{ form.new_password2.value|default_if_none:'' }}"
            autocomplete="new-password"
            required
            data-toggle="tooltip"
            title="{{form.new_password2.help_text}}">
        <div class="invalid-feedback">
            {{ form.new_password2.errors }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width: 100%;">Change Password</button>
</form>
{% endblock card-content %}

{% block tooltip-script %}
    {% with use_tooltips=True %}
        {{ block.super }}
    {% endwith %}
{% endblock tooltip-script %}
