{% extends "main/single_card_base.html" %}
{% block title %}Password Reset{% endblock title %}
{% block card-title %}Password Reset{% endblock card-title %}
{% block card-content %}
<div class="form-descriptor row">
    <p>
        We'll send instructions to reset your password to the provided address.
    </p>
</div>
<form action="{% url 'password-reset' %}" method="POST">
    {% csrf_token %}
    <div class="field-wrapper form-group row">
        <label for="{{ form.email.id_for_label }}">Email</label>
        <input id="{{ form.email.id_for_label }}"
            class="form-control"
            type="email"
            name="{{ form.email.name }}"
            autocomplete="email"
            value="{{ form.email.value|default_if_none:'' }}"
            required>
    </div>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary" style="width: 100%;">Send Email</button>
    </div>
</form>
{% endblock card-content %}
