<span></span> {# For centering the selector #}
<span hx-post="{% url 'current-meal' %}" hx-target="#meal-date-header-content" hx-vals='{"date":"{{ yesterday }}"}'>
    <i class="fa-solid fa-circle-chevron-left"></i>
</span>
<h4 class="mb-0">{{ obj.date|date:"D, d F Y" }}</h4>
<span hx-post="{% url 'current-meal' %}" hx-target="#meal-date-header-content" hx-vals='{"date":"{{ tomorrow }}"}'>
    <i class="fa-solid fa-circle-chevron-right"></i>
</span>
<span>
    <a data-bs-toggle="modal" data-bs-target="#change-date-modal">
        <i class="fa-regular fa-calendar"></i>
    </a>
</span>
