{% extends "core/base.html" %}
{% block title %}Select Recipe{% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-xl-6">
    <div class="row">
        <div class="col-12">
            {# Meal Date Selector Header #}
            <div class="card">
                <div class="card-body">
                    <div class="container top-panel" >
                        <div class="row">
                            <div class="col">
                                <div class="d-flex" id="select-recipe-header-content">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#create-recipe-modal">
                                        <i class="fa-solid fa-circle-plus"></i>
                                        <span>New Recipe</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Recipes</h3>
                </div>
                <div class="card-body">
                    {# Search bar #}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Filter recipes"
                                name="search"
                                hx-get="{% url 'recipe-list' %}?target=edit"
                                hx-trigger="keyup changed delay:500ms, keydown[key=='Enter'], load"
                                hx-target="#recipe-search-results">
                            </div>
                        </div>
                    </div>
                    {# Search results #}
                    <div class="row-md mt-3">
                        <div class="col-md-12 table-responsive bordered" style="height: 300px;">
                            <table class="table table-hover table-head-fixed table-choice">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody id="recipe-search-results">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include "core/modals/new_recipe.html" with modal_id="create-recipe-modal" %}
{% endblock %}
