{% extends "core/single_card_base.html" %}
{% block title %}Change Password{% endblock title %}
{% block content-header %}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-12">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                    <a href="{% url "settings" %}">Settings</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url "account-settings" %}">Account Settings</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Change Password
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock content-header %}
{% block card-title %}Change Password{% endblock card-title %}
{% block card-content %}
<div class="form-descriptor row">
    <p>
        Your password has been changed.
    </p>
</div>
<div class="row">
    {# TODO: Change url to account settings page #}
    <a href="{% url 'dashboard' %}" class="btn btn-primary" style="width:100%;">Great!</a>
</div>
{% endblock card-content %}
