{% extends "main/modals/base_modal.html"%}

{% block title%}Tracked Nutrients{% endblock%}
{% block no_footer %}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-md mt-3">
        <!-- Currently tracked nutrients -->
        {# TODO: From diet modifications sections #}
        <div class="col-md-12 table-responsive bordered" style="min-height: 100px;">
            <table class="table table-hover" style="margin-bottom: 0;" id="weight-training-tracked">
                <thead>
                    <tr>
                        <th>From weight training modification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Protein</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <th colspan="2">Added</th>
                    </tr>
                </thead>
                <tbody id="tracked-nutrients">
                    <tr>
                        <td>Iron (Fe)</td>
                        <td class="table-actions">
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <!-- Add tracked nutrient -->
                    {% comment %}
                    Form and append switch places. After confirmation append appears
                    below the form and the form is replaced with the new record.
                    {% endcomment %}
                    <tr class="table-form">
                        <form>
                            <td>
                                <select class="form-control">
                                    {# Nutrient selection #}
                                    <option>Fiber</option>
                                    <option>Vitamin A</option>
                                    <option>Vitamin K</option>
                                    <option>Iron (Fe)</option>
                                    <option>Phosphorus (P)</option>
                                </select>
                            </td>
                            <td class="table-actions">
                                <a href="#"><i class="fa-solid fa-check"></i></a>
                                <a href="#"><i class="fa-solid fa-xmark"></i></i></a>
                            </td>
                        </form>
                    </tr>
                    <tr>
                        <td colspan="3" class="table-append">
                            <i class="fa-solid fa-circle-plus"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
