{% comment %}
Base template for all main site pages.

Switches between navbar only layout for unauthenticated users and navbar + sidebar
layout for authenticated users.

Blocks
------
title
    Html title value.
content-header
content
top-scripts
    Scripts within the head tag.
scripts
    Scripts at the end of the body tag.
tooltip-script
    Enabling tooltips from within the template.

    To enable tooltips within a template add:

    {% block tooltip-script %}
        {% with use_tooltips=True %}
            {{ block.super }}
        {% endwith %}
    {% endblock tooltip-script %}

tooltip-config
    Tooltip options in json format.

Context Variables
-----------------
use_tooltips
    Enables tooltips for all elements with data-toggle attribute
    set to `tooltip`.





{% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="{% static 'bundle.css' %}">
        <script src="{% static 'index.bundle.js' %}"></script>
        <script src="{% static 'chart.bundle.js' %}"></script>
        {% block top-scripts %}{% endblock top-scripts %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


        {# Sidebar #}
        {% if user.is_authenticated %}
        {% include "main/components/sidebar.html"%}
        {% endif %}

        {# Navbar #}
        {% include "main/components/navbar.html" with has_sidebar=user.is_authenticated %}

        <div class="content-wrapper{% if not user.is_authenticated %} no-sidebar{% endif %}">
            <div class="content-header">
                {% block content-header %}{% endblock content-header %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        {# Bottom bar #}
        {% if user.is_authenticated %}
        {% include "main/components/bottom_bar.html" %}
        {% endif %}

        {% block scripts%}{% endblock %}
        {% block tooltip-script %}
        {% if use_tooltips %}
        <script>
            $(function () {
                $('[data-bs-toggle="tooltip"]').tooltip(
                {% block tooltip-config %}
                {
                    container: 'body',
                    placement: 'right',
                }
                {% endblock tooltip-config %}
                )
              });
        </script>
        {% endif %}
        {% endblock tooltip-script %}

    </body>
</html>
