{% extends "main/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div hx-ext="response-targets">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% include "main/cards/dashboard_header.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-outline card-secondary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="chart-container" style="position: relative;">
                                    <canvas
                                        id="macro-chart"
                                        style="min-height: 250px; max-width: 100%;">
                                    </canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="chart-container" style="position: relative;">
                                    <canvas
                                        id="weight-chart"
                                        style="min-height: 250px; max-width: 100%;">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hx-get="{% url "tracked-nutrient-list" %}" hx-swap="outerHTML" hx-trigger="load"></div>
        <div hx-get="{% url "malconsumptions" %}?limit=4" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>

    <!-- Modals -->
    {% include "main/modals/tracked_nutrients.html" with modal_id="trackedNutrientsModal" size="large" %}
    {% include "main/modals/modify_diet.html" with modal_id="modifyDietModal" size="large" %}
    {% include "main/modals/add_weight_measurement.html" with modal_id="add-weight-measurement" size="large" %}

    {# Profile information modal #}
    <div class="modal" id="profile-information-modal" tabindex="-1" role="dialog"
        aria-labelledby="profile-information-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Profile Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div hx-get="{% url "profile" %}" hx-trigger="load"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    // Load
    charts.fetchLastMonthWeight("{% url "weight-measurement-last-month-weights" format='json'%}", "weight-chart");
    charts.fetchLastMonthCalorie("{% url "last-month-calories" format='json'%}", "macro-chart");

    // weightChanged
    $("body").on("weightChanged", function() {
        charts.fetchLastMonthWeight("{% url "weight-measurement-last-month-weights" format='json'%}", "weight-chart");
    });
</script>
{% endblock scripts %}
