{% extends "main/single_card_base.html" %}

{% block title %}Profile Information{% endblock %}

{% block content-header %}
<div class="container-fluid">
    <nav class="nav-breadcrumbs fs-6" aria-label="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url "settings" %}">Settings</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "profile-settings" %}">Profile</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Profile Information
            </li>
        </ol>
    </nav>
</div>
{% endblock content-header %}

{% block card-attrs %}
{% with card_size='medium' %}{{ block.super }}{% endwith %}
{% endblock card-attrs %}

{% block card-title %}Profile Information{% endblock card-title %}

{% block card-tools %}
{% if from_registration %}
<a href="{% url 'dashboard' %}" class="mr-2">Skip</a>
{% endif %}
{% endblock card-tools %}

{% block card-content %}
<div hx-get="{% url "profile" %}{% if next %}?next={{ next }}{% endif %}" hx-trigger="load"></div>
{% endblock card-content %}
{% block tooltip-script %}
    {% with use_tooltips=True %}
        {{ block.super }}
    {% endwith %}
{% endblock tooltip-script %}
