{% extends "main/base.html" %}
{% block title %}Recipe{% endblock %}
{% block content %}
<div class="container-fluid" hx-ext="response-targets">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="container top-panel" id="top-panel-recipe-form"
                    hx-get="{% url 'recipe-detail' recipe.id %}"
                    hx-trigger="load">


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {# Meal Ingredient List #}
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Ingredients</h3>
                </div>
                <div class="card-body">
                    <div class="row-md">
                        <div class="col-md-12 table-responsive bordered" style="min-height: 180px; max-height: 350px">
                            <table class="table table-hover table-head-fixed amounts-table table-choice">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th style="width: 100px">Amount</th>
                                        <th style="width: 100px"></th> {# Use colspan="2" in regular view #}
                                    </tr>
                                </thead>
                                <tbody id="ingredient-list" hx-get="{% url 'recipe-ingredient-list' recipe.id %}" hx-trigger="load">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            {# Add Ingredient #}
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">Add Ingredient</h3>
                </div>
                <div class="card-body">
                    {# Search bar #}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search for ingredients"
                                name="search"
                                hx-get="{% url 'ingredient-list' format='html' %}?target=recipe"
                                hx-trigger="keyup[target.value.length > 2] changed delay:500ms, keydown[key=='Enter']"
                                hx-target="#ingredient-search-results">
                            </div>
                        </div>
                    </div>
                    {# Search results #}
                    <div class="row-md mt-3">
                        <div class="col-md-12 table-responsive bordered" style="height: 300px;">
                            <table class="table table-hover table-head-fixed  table-choice">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody id="ingredient-search-results">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form id="component-preview" hx-post="{% url 'recipe-ingredient-list' recipe.id %}" hx-target="#ingredient-list" hx-swap="afterbegin">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Nutrients per 100g</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid mt-3">
                        <div hx-get="{% url 'recipe-intakes' recipe.id %}"
                        hx-trigger="recipeComponentsChanged from:body, load">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
