{% extends "main/base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div {% block card-attrs %}
        {% if card_size == 'medium' %}
        class="col-lg-6 col-md-8 col-sm-10 col-12"
        {% elif card_size == 'large' %}
        class="col-12"
        {% else %}
        class="col-lg-4 col-sm-8 col-12"
        {% endif %}
        {% endblock card-attrs %} >
            <div class="card">
                {% block card-header %}
                <div class="card-header">
                    <div class="card-title">{% block card-title %}{% endblock card-title %}</div>
                    <div class="card-tools">{% block card-tools %}{% endblock card-tools %}</div>
                </div>
                {% endblock card-header %}
                <div class="card-body">
                    <div class="container">
                        {% block card-content %}{% endblock card-content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
