{% extends "main/single_card_base.html" %}
{% block title %}Weight Measurements{% endblock %}
{% block content-header %}
<div class="container-fluid">
    <nav class="nav-breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
                <a href="{% url "settings" %}">Settings</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "profile-settings" %}">Profile</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Weight Measurements
            </li>
        </ol>
    </nav>
</div>
{% endblock content-header %}
{% block card-attrs %}
{% with card_size='large' %}{{ block.super }}{% endwith %}
{% endblock card-attrs %}

{% block card-title %}Weight Measurements{% endblock card-title%}
{% block card-content %}
<div class="row-md">
    <div class="col-md-12 table-responsive bordered" style="min-height: 180px; max-height: 350px">
        <table class="table table-hover table-head-fixed weight-table table-choice">
            <thead>
                <tr>
                    <th>Date</th>
                    <th style="min-width: 100px">Value</th>
                    <th style="width: 100px"></th> {# Use colspan="2" in regular view #}
                </tr>
            </thead>
            <tbody id="weight-list" hx-get="{% url "weight-measurement-list" %}" hx-trigger="load" hx-ext="response-targets">
            </tbody>
        </table>
    </div>
</div>
<div class="row-md mt-3">
    <form id="add-weight-measurement" hx-post="{% url "weight-measurement-list" %}"
            hx-swap="afterbegin" hx-target="#weight-list"
            hx-ext="response-targets" hx-target-400="this">
            {% include "main/components/weight_measurement_form_fields.html" with with_date_field=True %}
            <button class="btn btn-primary" style="width: 100%;">
                Add Weight Measurement
            </button>
        </form>
</div>
{% endblock card-content %}
