{% for tab, active in tabs %}
<li class="nav-item">
    <a class="nav-link{% if active %} active{% endif %}" href="#"
    {% if not active %}
    hx-get="{% url "add-meal-component-tabs" %}?tab={{ tab|lower }}" hx-target="#add-ingredient-tabs"
    {% endif %}>
        {{ tab }}
    </a>
</li>
{% endfor %}
<div hx-get={{url}} hx-target="#component-search-results"
hx-trigger="keyup[target.value.length > 2] delay:500ms from:#component-searchbar, keydown[key=='Enter'] from:#component-searchbar, load"
hx-include="#component-searchbar">
</div>
