{% load core_tags %}
{% if not rec %}
{% first_instance_of nutrient.recommendations.rda nutrient.recommendations.rdakg nutrient.recommendations.ai nutrient.recommendations.aik nutrient.recommendations.aikg nutrient.recommendations.amdr nutrient.recommendations.alap nutrient.recommendations.ul as rec %}
{% endif %}

{% if rec %}
<tr class="{% if subrow and not ignore_subrow %} subrow{% endif %}{% if nutrient.highlight %} highlighted{% endif %}">
    <td>{{ nutrient.obj.name }}</td>
    <td class="progress-data">
        {# No progress bar for ALAP recommendations #}
        {% if rec.dri_type == "ALAP" %}
        <span>As little as possible</span>
        {% else %}
        <div class="progress position-relative{% if rec.dri_type == "UL" %} prog-danger{% endif %}">
            <div class="progress-bar {% if rec.over_limit or rec.dri_type == "UL" %}pb-danger{% elif rec.progress == 100 %}pb-success{% endif %}"
             role="progressbar" style="width: {{ rec.progress }}%"
             aria-valuenow="{{ rec.progress }}" aria-valuemin="0"
             aria-valuemax="100">
            </div>
        </div>
        {% endif %}
    </td>
    <td>{{ nutrient.intake| floatformat }}{% if rec.displayed_amount %} / {{ rec.displayed_amount| floatformat }}{% endif %}</td>
    <td>{{ nutrient.obj.pretty_unit }}</td>
</tr>
{% else %}
<tr{% if subrow and not ignore_subrow %} class="subrow"{% endif %}>
    <td>{{ nutrient.obj.name }}</td>
    <td class="progress-data"></td>
    <td>{{ nutrient.intake| floatformat }}</td>
    <td>{{ nutrient.obj.pretty_unit }}</td>
</tr>
{% endif %}
{% if not ignore_children %}
{% for name, child in nutrient.children.items %}
{% include "main/data/micronutrient_table_row.html" with nutrient=child subrow=True %}
{% endfor %}
{% endif %}
