{% if refresh_event %}
<div hx-get="{{ request.get_full_path }}" hx-swap="outerHTML" hx-trigger="{{ refresh_event }} from:body" >
{% endif %}
    {% if target_url %}
    <form hx-post="{{ target_url }}" hx-target="#component-list" hx-swap="afterbegin">
    {% endif %}
        <div class="container">
            <div class="row-md mt-4">
                <div class="container">
                    {% comment %}
                    TODO: Make the chart change values instead of redrawing it every time
                    TODO: The chart needs to indicate what its actually showing (kcal / 100g)
                    {% endcomment %}
                    <div class="row" style="min-height: 250px;">
                        <!-- Ingredient macronutrients -->
                        <div class="col-md-6 mb-2">
                            <div class="chart-container" style="height: 250px">
                                <canvas id="macro-pie-chart"></canvas>
                            </div>
                            {{ calories|json_script:"macronutrient-data" }}
                            <script>
                                pieChart(
                                "macro-pie-chart",
                                JSON.parse(document.getElementById('macronutrient-data').textContent)
                                );
                            </script>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="d-flex flex-column align-items-end h-100">
                                <!-- Other details -->
                                <h5 style="margin-right: auto;">{{ obj.name }}</h5>
                                <div>
                                    {# Badges / tags #}
                                </div>
                                <!-- Add component form inputs -->
                                <div class="d-flex justify-content-end w-100 p-2 mt-auto">
                                    <input type="hidden" name="{{ component_field }}" value="{{ obj.id }}">
                                    <input class="w-100" type="number" min="0.1" step="0.1" name="amount" id="amount-field" placeholder="Amount (g)" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-md mt-3">
                <div class="col-md-12 d-grid gap-2">
                    <button class="btn btn-primary" type="submit" style="width: 100%">Add {{ component_field|title }}</button>
                </div>
            </div>
        </div>
    {% if target_url %}
    </form>
    {% endif %}

{% if refresh_event %}
</div>
{% endif %}
