{# Uses 'response targets' htmx extension #}
<tr id="tracked-nutrient-row-{{ id }}">
    <td>{{ name }}</td>
    <td>
        <a hx-delete="{% url "tracked-nutrient-detail" id %}"
        hx-target="#tracked-nutrient-row-{{ id }}"
        hx-target-2*="#tracked-nutrient-row-{{ id }}"
        hx-swap="delete">
        <i class="fa-solid fa-xmark"></i></i>
        </a>
    </td>
</tr>
{% if not skip_add %}
<tr hx-get="{% url "tracked-nutrient-form" %}" hx-swap="outerHTML">
    <td colspan="3" class="table-append">
        <i class="fa-solid fa-circle-plus"></i>
    </td>
</tr>
{% endif %}
