{# This template uses 'response targets' htmx extension #}
<tr id="tracked-nutrient-row-{{ obj.id }}">
    <td>{{ obj.nutrient.name }}</td>
    <td>
        <a hx-delete="{% url "tracked-nutrient-detail" obj.id %}"
        hx-target="#tracked-nutrient-row-{{ obj.id }}"
        hx-target-2*="#tracked-nutrient-row-{{ obj.id }}" {# Needed for a 204 response #}
        hx-swap="delete">
        <i class="fa-solid fa-xmark"></i></i>
        </a>
    </td>
</tr>
{% if not skip_add %}
<tr hx-get="{% url "tracked-nutrient-form" %}" hx-swap="outerHTML">
    <td colspan="3" class="table-append">
        <i class="fa-solid fa-circle-plus"></i>
    </td>
</tr>
{% endif %}
