<div class="card {{ card_variant|default_if_none:'' }}">

    <div class="card-header">
      <h3 class="card-title">{% block card_title %}{% endblock card_title %}</h3>
      {% block no_tools %}
      <div class="card-tools">
        {% block card_tools %}{% endblock card_tools %}
      </div>
      {% endblock no_tools %}
    </div>

    <div class="card-body">
      {% block card_body %}{% endblock card_body %}
    </div>
    {% block no_footer %}
    <div class="card-footer">
        {% block card_footer %}{% endblock card_footer %}
    </div>
    {% endblock no_footer %}
  </div>
