{% extends "main/cards/card_base.html"%}

{% block card_title %}Low Nutrient Intake{% endblock %}
{% block no_tools %}{% endblock %}
{% block no_footer %}{% endblock %}

{% block card_body %}
<div class="row">
    <div class="col-6">
        <canvas
            id="IronBarChart"
            style="min-height: 250px; max-width: 100%;">
        </canvas>
        {#{ ingredient.macronutrients|json_script:"macronutrient-data" }#}
        <script>
            lineChart({
                elementId: "IronBarChart",
                data: {
                    "Mar 1": 10,
                    "Mar 2": 12,
                    "Mar 3": 7,
                    "Mar 4": 10,
                    "Mar 5": 12,
                    "Mar 6": 7,
                    "Mar 7": 10,
                    "Mar 8": 12,
                    "Mar 9": 7,
                    "Mar 10": 10,
                    "Mar 11": 12,
                    "Mar 12": 7,
                    "Mar 13": 10,
                    "Mar 14": 12,
                    "Mar 15": 7,
                    "Mar 16": 10,
                    "Mar 17": 12,
                    "Mar 18": 7,
                },
                target: 20
            }
            //JSON.parse(document.getElementById('macronutrient-data').textContent)
            );
        </script>
    </div>
</div>


{% endblock card_body %}
