{% extends "main/cards/card_base.html"%}

{% block card_title %}Ingredients{% endblock %}
{% block no_tools %}{% endblock %}
{% block no_footer %}{% endblock %}

{% block card_body %}
<div class="row-md">
    <div class="col-md-12 table-responsive bordered" style="min-height: 180px; max-height: 350px">
        <table class="table table-hover table-head-fixed amounts-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width: 100px">Amount</th>
                    <th style="width: 100px"></th> {# Use colspan="2" in regular view #}
                </tr>
            </thead>
            <tbody id="meal-ingredients" hx-get="{% url 'current-meal-ingredients' %}" hx-trigger="currentMealChanged from:body, load">
            </tbody>
        </table>
    </div>
</div>
{% endblock card_body %}
