<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="{% url 'dashboard' %}" class="brand-link">
        <span class="brand-text font-weight-light">Nutrient Tracker</span>
    </a>


    <div class=sidebar>
        {% if user.is_authenticated %}
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
            <a href="#" class="d-block">{{ user.username }}</a>
            </div>
        </div>
        {% endif %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>Daily</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>Meals and Recipes</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
