<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="{% url 'dashboard' %}" class="brand-link">
        <span class="brand-text font-weight-light">Nutrient Tracker</span>
    </a>


    <div class=sidebar>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                        <i class="fa-solid fa-chart-line"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-regular fa-calendar"></i>
                        <p>Daily</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create-meal' %}" class="nav-link">
                        <i class="fa-solid fa-receipt"></i>
                        <p>Meals and Recipes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account-settings' %}" class="nav-link">
                        <i class="fa-solid fa-gear"></i>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
