

<div class="sidebar bg-dark">
    <div id="sidebar" class="sidebar-collapse">
        <a href="{% url 'dashboard' %}" class="brand-link">
            <div class="nav-icon">
                {% comment %} <i class="fa-solid fa-utensils brand-icon"></i> {% endcomment %}
            </div>
            <span class="fs-4 nav-main-label">Nutrient Tracker</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link">
                    <div class="nav-icon">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="nav-bottom-label">Dashboard</span>
                    </div>
                    <span class="nav-main-label">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'meal' %}" class="nav-link">
                    <div class="nav-icon">
                        <i class="fa-regular fa-calendar"></i>
                        <span class="nav-bottom-label">Meals</span>
                    </div>
                    <span class="nav-main-label">Meals</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'recipe' %}" class="nav-link">
                    <div class="nav-icon">
                        <i class="fa-solid fa-receipt"></i>
                        <span class="nav-bottom-label">Recipes</span>
                    </div>
                    <span class="nav-main-label">Recipes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'settings' %}" class="nav-link">
                    <div class="nav-icon">
                        <i class="fa-solid fa-gear"></i>
                        <span class="nav-bottom-label">Settings</span>
                    </div>
                    <span class="nav-main-label">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>
